.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  
    &-content {
      max-width: 800px;
      text-align: center;
      margin-top: 80px !important;
  
      h2 {
        font-size: 36px;
        font-weight: 500;
        color: #fff;
      }
  
      p {
        font-weight: 300;
        color: #fff;
      }
    }
  
    .container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      flex-wrap: wrap;
  
  
      &-contactInfo {
        width: 50%;
        display: flex;
        flex-direction: column;
  
        .box {
          position: relative;
          padding: 20px 0;
          display: flex;
  
          .icon {
            min-width: 60px;
            height: 60px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 22px;
            color: var(--primary-color);
          }
  
          .text {
            display: flex;
            margin-left: 20px;
            font-size: 16px;
            color: #fff;
            flex-direction: column;
            font-weight: 300;
  
            h3 {
              font-weight: 500;
              color: var(--primary-color);
            }
  
            p {
              font-weight: 500;
              color: #fff;
            }
          }
        }
      }
  
      &-contactForm {
        width: 40%;
        padding: 40px;
        background-color: #fff;
        h2 {
          font-size: 30px;
          color: #333;
          font-weight: 500;
        }
        .inputBox {
          position: relative;
          width: 100%;
          margin-top: 10px;
  
          input,
          textarea {
            width: 100%;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            border: none;
            border-bottom: 2px solid #333;
            outline: none;
          }
  
          span {
            position: absolute;
            left: 0;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            pointer-events: none;
            transition: 0.5s;
            color: #666;
          }
  
          input:focus ~ span,
          input:valid ~ span,
          textarea:focus ~ span,
          textarea:valid ~ span {
            color: var(--primary-color);
            font-size: 12px;
            transform: translateY(-20px);
          }
  
          input[type="submit"] {
            width: 100px;
            background-color: var(--primary-color);
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 18px;
          }
        }
      }
    }
  }
  
  @media (max-width: 991px) {
      .contact{
          padding: 50px;
    
      }
  
      .container{
    
          &-contactInfo{
              margin-bottom: 40px;
          }
  
          &-contactForm{
              width: 100%;
          }
      }
  
  }