.events {
    &-title {
        text-align: center;
        font-size: 4vmin;
        color: var(--thirdy-color)
    }

    &-row {
        margin-top: 50px;
        display: flex;

        &-col {
            flex-direction: column;
            align-items: center;

            img {
                width: 80%;
                cursor: pointer;
                transition: 0.5s ease-in-out;
                &:hover{
                    transform: scale(0.9);
                    box-shadow: 0 0 10px black;
                }
            }


            

            .btn {
                margin-top: 30px;

            }


        }
    }
}