.tours {
  display: flex;
  align-items: center;
  justify-content: space-between;;
  width: 100%;
  ;

  &-left {
      text-align: center;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h1{
          color: var(--secondary-color);
      }
      .btn {
          margin-top: 20px !important;
      }
  }

  &-right {

      width: 50%;
      float: right;

      img {
          cursor: pointer;
          width: 250px;
          height: 200px;
          margin: 10px;
          border-radius: 10px;
          transition: 0.5s ease-in-out;
          box-shadow: 0 0 5px black;
          &:hover{
              transform: scale(1.1);
          }
      }

      .image-gallery {
          width: 600px !important;
      }
  }
}